@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-color: rgb(78, 79, 80);
}

.container {
	display: flex;
	width: 94vw;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 85vh;
	border-radius: 50px;
	color: rgb(5, 1, 1);
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
	text-shadow: 0 0 5px #98c9dd;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
	flex: 8;
}

@media (max-width: 900px) {
	.panel {
		height: 60vh;
		margin: 2px;
	}
	.panel h3 {
		font-size: 1rem;
	}
}

@media (max-width: 600px) {
	.panel {
		height: 50vh;
		margin: 2px;
	}
	.panel h3 {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}
	.panel {
		height: 35vh;
		margin: 2px;
	}
}

@media (max-width: 400px) {
	.container {
		width: 100vw;
	}
	.panel {
		height: 28vh;
		margin: 2px;
	}
}